@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

label {
  font-size: 1.2rem;
}

input.form-control,
input.form-control:focus {
  background: #f0f0ff;
}

.error {
  position: absolute;
  color: red;
  font-size: 1rem;
}

.center {
  /* border: 5px solid #cfcf60; */
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
/* .center {
  margin: auto;
  width: 60%;
  border: 5px solid #ffff00;
  padding: 10px;
} */
